<h1>Sign in</h1>

<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <%= render "shared/errors" if flash[:errors] %>
  <br>
  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email" value="<%= @user.email %>">
  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]]" id="password">
  <br>

  <input type="submit" value="sign in">
</form>

<br>
<%= link_to "sign up", new_user_url %>
