<h1>Edit <%= @album.name %></h1>

<form action="<%= album_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <%= render "shared/errors" if flash[:errors] %>

  <br>
  <label for="name">Name</label>
  <input type="text" name="albums[name]" id="name" value="<%= @album.name %>">
  <br>

  <label for="album_artist">Album artist</label>
  <select name="albums[band_id]" id="album_artist">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>

  <input type="radio" name="albums[album_type]" id="album_type_live" value="live">
  <label for="album_type_live">Live</label>
  <br>

  <input type="radio" name="albums[album_type]" id="album_type_studio" value="studio">
  <label for="album_type_studio">Studio</label>
  <br>

  <input type="submit" value="edit album">
</form>

<br>
<%= link_to "back", :back %>
