<h1><%= @album.name %></h1>
<h2><%= Band.find(@album.band_id).name %></h2>

<br>
<%= button_to "edit", edit_album_url(@album), method: :get %>
<%= button_to "delete", album_url(@album), method: :delete %>
<%= button_to "index", albums_url, method: :get %>
