<h1><%= @band.name %></h1>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<br>
<%= button_to "edit", edit_band_url(@band), method: :get %>
<%= button_to "delete", band_url(@band), method: :delete %>
<%= button_to "index", bands_url, method: :get %>
<%= button_to "add album", new_band_album_url(@band), method: :get %>
<%= button_to "new band", new_band_url, method: :get %>
